@import url("./base.css");
@import url("./form.css");
@import url("./layout.css");


body {
    background-color: darkgrey;
  }
  
  p {
    font-size: 20px;
  }
  
  header {
    background-color: grey;
    padding-bottom: 15px;
    text-align: center;
    font-size: 40px;
  }
  
  
  li {
    font-size: 25px;
  }
  
  
  footer {
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
  }
  
  nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.5rem;
    padding: 5px;
  }
  
  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 300px;
    height: 300px;
  }
  
  .image:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }
  
  .Artist_Info {
    background-color: grey;
    }
  
  .Artist_Align {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .Albums {
    background-color: grey;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .like_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .like_button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2D9CDB; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  .like_button:hover {
    background-color: #227896; 
  }
  
  
  .like_button.liked {
    background-color: #27AE60;
  }
  
  .like_button.liked:hover {
    background-color: #1E8449; 
  }
